
<h2>My Heroes</h2>
<div>
  <div class="form-inline">
    <label>Hero name:</label> <input #heroName class="form-control" />
    <button (click)="add(heroName.value); heroName.value=''" class="btn btn-outline-success">
      Add
    </button>
  </div>

  <br>

  <app-hero-search></app-hero-search>
</div>

<div class="wrapper">
  <div class="left-column">
    <ul class="heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
          [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}}</span>
        <button class="delete"
          (click)="delete(hero); $event.stopPropagation()">x</button>
      </li>
    </ul>

  </div>

  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
