
<h2>My Heroes</h2>
<div>
  <div class="form-inline">
    <label>Hero name:</label> <input #heroName class="form-control" />
    <button (click)="add(heroName.value); heroName.value=''" class="btn btn-outline-success">
      Add
    </button>
  </div>

  <br>

  <app-hero-search></app-hero-search>
</div>

<div class="wrapper">

  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" class="hero"
        [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
      <button type="button" class="close" aria-label="Close" (click)="delete(hero); $event.stopPropagation()">
        <fa name="trash"></fa>
      </button>
    </li>
  </ul>



  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
